html {
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  color: black;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* ===========================================
 * header
 * ======================================== */
#header {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 600px) {
  #header {
    padding: 10px 70px;
  }
}

.logo {
  width: 120px;
  line-height: 1px;
}

.logo a {
  display: block;
}

.logo img {
  max-width: 100%;
}

nav ul {
  display: flex;
} 

nav li {
  padding-left: 30px;
}

nav a{
  font-size: 0.9rem;
  color: #24292E;
}

/* ===========================================
 * mainvisual
 * ======================================== */
#mainvisual img {
  height: 600px;
  width: 100%;
  object-fit: cover;
}

.section-title {
  line-height: 1.125;
  padding: 80px 0 0 0;
  margin: 0 0 60px 0;
  color: #383E45;
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
  border-bottom: 1px solid #383E45;
}

/* ===========================================
 * about
 * ======================================== */
#about {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

#about .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 4%;
}

#about img {
  border-radius: 50%;
  width: 100px;
  height: auto
}

#about .text {
  width: 403px;
  text-align: left;
}

#about h3 {
  line-height: 1;
  font-size: 1rem;
  margin: 10px 0;
}

#about p {
  font-size: .9rem;
  line-height: 1.5;
}
@media screen and (min-width: 600px) {
  #about .content {
    flex-direction: row;
  }

  #about .text {
    margin-left: 30px;
  }
}

/* ===========================================
 * design
 * ======================================== */
#design {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

#design h2 {
  margin-bottom: 60px;
}

#design ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 5% 70px 5%;
}

#design li {
  margin-bottom: 40px;
}

#design img {
  width: 100%;
  height: auto;
  border: 1px solid #eee;
}

.design-link {
  display: block;
  overflow: hidden;
}

.design-link img {
  transition: 0.5s all;
}

.design-link img:hover {
  transition: 0.5s all;
  transform: scale(1.2, 1.2);
}

#design h3 {
  margin: 10px 0;
  color: #383E45;
  font-size: 1rem;
}

#design p {
  color: #383E45;
  font-size: 0.9rem;
}

@media screen and (min-width: 600px) {
  #design ul {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2% 70px 2%;
  }

  #design li {
    width: 32%;
  }
}

/* ===========================================
 * footer
 * ======================================== */
#footer {
  padding: 10px 0;
  text-align: center;
}

#footer p {
  font-size: 0.6rem;
  color: #383E45;
}